{% extends 'usuarios/base.html' %}
{% block conteudo %}
    <div class="container">
        <h1 style="text-align: center;">Confirmar Exclusão de Todos os Usuários</h1>
        <p style="text-align: center;">Tem certeza de que deseja excluir todos os usuários? Esta ação não pode ser desfeita.</p>
        <form action="{% url 'excluir_todos' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-lg">Excluir Todos</button>
            <a href="{% url 'listagem_usuarios' %}" class="btn btn-secondary btn-lg">Cancelar</a>
        </form>
    </div>
{% endblock %}
