{% extends 'usuarios/base.html' %}
{% block conteudo %}
    <div class="container">
        <h1 style="text-align: center;">Usuários Cadastrados</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Ação</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id_usuario }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.idade }}</td>
                <td>
                    <a href="{% url 'editar_usuario' usuario.id_usuario %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'excluir_usuario' usuario.id_usuario %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'confirmar_excluir_todos' %}" class="btn btn-danger btn-lg">Excluir Todos</a>
    </div>
{% endblock %}
